{% load staticfiles %}
{% load category %}
{% load popular_post %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} | Записки о Linux и разработке </title>
		<meta name="description" content="{% block description %} {%endblock%}"/>
		<meta name="keywords" content="{% block keywords %} {% endblock %}"/>

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

		<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
		
		<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>


		<link rel="stylesheet" href="http://yandex.st/highlightjs/6.1/styles/zenburn.css"/>
		<script src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>


		<link rel="home" type="application/rss+xml" href="/feed" />
		
	</head>
	<body>
		<!--<div class = "container">
		-->
		<div class="container border-container">
			
			<!-- Head -->
			<div class="col-md-12">
				<div id="header">
					<div id="header-name">
						<h1>Записки о Linux и разработке</h1>
					</div>
					<div id="header-menu">
						<ul>
							<li>
								<a href="{% url 'post_list' %}">Статьи</a>
							</li>
							<li>
								<a href="{% url 'about' %}">Эбаут</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End head -->

			<!-- Content -->
			<div class="col-md-9">
				<div class="content">

					{% block page_content %} {% endblock %}
				</div>
			</div>

			<!-- Right menu -->
			<div class="col-md-3">

				<!-- Категории -->
				{% show_category %}

				<!-- Популярные посты -->
				{% popular_post %}
				
			</div>

			<!-- Footer -->
			<div class="col-md-12">
				<div id="footer">
					<div>
						Copy Left 2017<br>
						Записки о Linux и разработке
					</div>
				</div>
			</div>
			
		</div>

		<script src="{% static 'js/bootstrap.min.js' %}"></script> 
	</body>
</html>