{% load staticfiles %}
{% load category %}
{% load popular_post %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} | Записки о Linux и разработке </title>
		<meta name="description" content="{% block description %} {%endblock%}"/>
		<meta name="keywords" content="{% block keywords %} {% endblock %}"/>

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

		<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
		
		<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>


		<link rel="stylesheet" href="http://yandex.st/highlightjs/6.1/styles/zenburn.css"/>
		<script src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>


		<link rel="home" type="application/rss+xml" href="/feed" />
		
	</head>
	<body>
		<!--<div class = "container">
		-->
		<div class="container border-container">
			{% if request.user.is_authenticated %}
				<div class="col-md-12" style="text-align:right;background-color: #cccccc">
					Вы вошли как {{ request.user.username }}
				</div>
			{% endif %}
			<!-- Head -->
			<div class="col-md-12">
				<div id="header">
					<div id="header-name">
						<h1>Записки о Linux и разработке</h1>
					</div>
					<div id="header-menu">
						<ul>
							<li>
								<a href="{% url 'post_list' %}">Статьи</a>
							</li>
							<li>
								<a href="{% url 'about' %}">Эбаут</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End head -->

			<!-- Content -->
			<div class="col-md-9">
				<div class="content">

					{% block page_content %} {% endblock %}
				</div>
			</div>

			<!-- Right menu -->
			<div class="col-md-3">

				<!-- Категории -->
				{% show_category %}

				<!-- Популярные посты -->
				{% popular_post %}
				
			</div>

			<!-- Footer -->
			<div class="col-md-12">
				<div id="footer">
						
						<span id="footer-text">
							<br/>
							<br/>
							Copy Left 2017 &nbsp;&nbsp;
							Записки о Linux и разработке
						</span>
						<div style="float:right">
							<!-- Yandex.Metrika informer -->
							<a href="https://metrika.yandex.ru/stat/?id=30959666&amp;from=informer"
							target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/30959666/3_0_FFFFFFFF_EFEFEFFF_0_uniques"
							style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="30959666" data-lang="ru" /></a>
							<!-- /Yandex.Metrika informer -->

							<!-- Yandex.Metrika counter -->
							<script type="text/javascript">
							    (function (d, w, c) {
							        (w[c] = w[c] || []).push(function() {
							            try {
							                w.yaCounter30959666 = new Ya.Metrika({
							                    id:30959666,
							                    clickmap:true,
							                    trackLinks:true,
							                    accurateTrackBounce:true
							                });
							            } catch(e) { }
							        });

							        var n = d.getElementsByTagName("script")[0],
							            s = d.createElement("script"),
							            f = function () { n.parentNode.insertBefore(s, n); };
							        s.type = "text/javascript";
							        s.async = true;
							        s.src = "https://mc.yandex.ru/metrika/watch.js";

							        if (w.opera == "[object Opera]") {
							            d.addEventListener("DOMContentLoaded", f, false);
							        } else { f(); }
							    })(document, window, "yandex_metrika_callbacks");
							</script>
							<noscript><div><img src="https://mc.yandex.ru/watch/30959666" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
							<!-- /Yandex.Metrika counter -->
						
					</div>

				</div>
				
			</div>
			
		</div>

		<script src="{% static 'js/bootstrap.min.js' %}"></script> 
	</body>
</html>