body {
	line-height: 1em;
	font-size: 12px;
	background: #e6e6e6;
	font-family: Myriad Pro, Tahoma, Arial, Helvetica, sans-serif;
	margin: 0pt;
	cursor: default;
	font-weight: normal;
}

a {
	color: #984100;
}


hr {
	height: 6px;
	background: url(../imgs/hr-12.png) repeat-x 0 0;
	border: 0;
}


#header {
	height: 60px;
	background: #333 url(../imgs/top_bg.png) top left repeat-x;
	margin-bottom: 10px;


}

#header-name {
	float:left;
	margin: 0px 50px;
  	text-align: center;
}

#header-name h1 {
	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #ffffff; 
	font-size: 20px;
	font-style: italic;
}

#header-menu {
	float: right;
}

#header-menu ul {
	list-style: none;
  	margin: 25px 10px;
  	padding: 0px 10px;
  	text-align: center;
}

#header-menu ul li {
	display: inline-block;
	margin: 0 10px;
}
#header-menu ul li a {
	font-size: 20px;
	color: #ffffff; 

	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #ffffff; 
}



.content {
	background: #ffffff;
	width: 100%;
	margin: 0pt;
	padding: 25px;
	margin-bottom: 30px;
}


.content-post {
	padding: 0px;
	margin: 0px;
	
}

.content-post-head {
	height: 220px;
	text-align: right;	
}


.content-post-head-image {
	margin: 0px;
	padding: 0px;
	float: left

}

.content-post-head-info {
	font-size: 12px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
}

.content-post-head-header h1 a{
	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
	font-size: 33px;
	line-height: 1.3em;
	padding-bottom: 14px;
	color: #303030;
	text-shadow: #CCC 0px 2px 3px;
}


.content-post-head-tags .tags {
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: lowercase;

}
.content-post-head-tags .tags a{
	margin-left: 6px;
	color: #984100;
}

.content-post-head-date {
	background: #eee;
	font-style: italic;
	padding: 2px 4px 2px 4px;
	color: #000;
}

.content-post-text {
	width:  100%;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	text-align: left;	
}


.right-widget {
	background: #ffffff;
	padding: 15px;
	margin-bottom: 5px;
}

.right-widget-contnet {
	font-size: 12px;

}

.right-widget-contnet-list ui {

}

.right-widget-header h2{	
	font-size: 18px;
	margin: 0 0 15px;
	color: #333;
	padding-left: 0px;
}


.right-widget-contnet-list ul {
	margin: 0pt;
	padding: 0pt;
	vertical-align: baseline;
	padding-left: 0px;
}

.right-widget-contnet-list ul li {
	cursor: pointer;
	color: #984100;
	text-decoration: none;
	outline: none !Important;
	list-style: disc;
	padding: 0 0 15px;
	margin-left: 15px;
}


/* Связаные посты */

.content-related-posts{
	
}
.content-related-posts h3 {
	
}

.content-related-posts ul {
	position: relative;
	overflow: hidden;
}
.content-related-posts ul li {
	float: left;
	overflow: hidden;
	margin: 0 15px;
	border: 1px solid black;
}

.content-related-posts ul li a span {
	width: 100%;
	display: block;
}

.content-related-posts h3
{
	font-size: 30px;
	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #303030;
	text-shadow: #CCC 0px 2px 3px;
	margin-top: 20px;

	font-size: 22px;
	padding-top: 0;
}

.content-view-btn-block {
	margin-left: 10px;
	font-size: 12px;
}


.post-views-icon {
	/*background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2210%22%20viewBox%3D%221%202%2014%2010%22%20style%3D%22fill%3A%23828a99%3B%22%3E%3Cpath%20d%3D%22M8%2012C3.8%2012%201%208%201%207%201%206%203.8%202%208%202%2012.2%202%2015%206%2015%207%2015%208%2012.2%2012%208%2012ZM8%2010.5C9.9%2010.5%2011.5%208.9%2011.5%207%2011.5%205.1%209.9%203.5%208%203.5%206.1%203.5%204.5%205.1%204.5%207%204.5%208.9%206.1%2010.5%208%2010.5ZM8%208.6C7.1%208.6%206.4%207.9%206.4%207%206.4%206.1%207.1%205.4%208%205.4%208.9%205.4%209.6%206.1%209.6%207%209.6%207.9%208.9%208.6%208%208.6Z%22%2F%3E%3C%2Fsvg%3E") no-repeat 0 0;
	*/
	background: url("../imgs/eye.png") no-repeat 0 0;
	width: 16px;
	height: 16px;
	opacity: 0.5;	
}